/*
 * Reset
 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
 * Variables
 */
:root {
    --header-footer-min-height: 2.5rem;
    --body-padding: 1rem;
    --article-max-width: 8.5in;
    --indent-size: min(0.75in, 9vw);
}

/*
 * Font imports
 */
@font-face {
    font-family: 'Iowan Old Style';
    src: url(/assets/fonts/iowan-old-style/bold.ttf);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url(/assets/fonts/iowan-old-style/regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url(/assets/fonts/iowan-old-style/italic.ttf);
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url(/assets/fonts/iowan-old-style/bold-italic.ttf);
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*
 * Print-only styles
 */
@media print {
    header, footer {
        /* Hide the header and footer nav links */
        display: none;
    }

    a, a:visited {
        /* Remove link styling from printed document */
        color: inherit;
        text-decoration: none;
    }
}

/*
 * Styles for both print and screen
 */
@media screen, print {
    html {
        font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; 
    }

    article {
        hyphens: auto;
        text-align: justify;
    }
    
    article p {
        margin-block: 1rem;
    }

    article pre {
        /* Allow long lines in <pre> tags to wrap */
        white-space: pre-wrap;
    }

    article blockquote {
        /* Indent block quotes */
        margin-inline: var(--indent-size);
    }
    
    article p:has(cite) {
        margin-inline: calc(1.5 * var(--indent-size));
    }

    article p:has(cite)::before {
        content: '—';
    }
}

/*
 * Screen-only styles
 */
@media screen {
    html {
        overflow-y: scroll;
    }
    
    body {
        background: #bbb;
        padding: var(--body-padding);
    }

    header, footer {
        margin-inline: auto;
        max-width: var(--article-max-width);
        min-height: var(--header-footer-min-height);
        padding: 0.5rem;
        font-size: 0.875rem;
    }

    :is(header, footer) > nav > :is(a, a:visited) {
        display: inline-block;
        color: #700;
        text-shadow: 0 1px #ddd;
    }

    article {
        margin-inline: auto;
        min-height: calc(
            100vh
            - 2 * var(--header-footer-min-height)
            - 2 * var(--body-padding)
        );
        border: 1px solid #999;
        box-shadow: 0 2px 6px #0004;
        background: #fff;
        padding: var(--indent-size);
        max-width: var(--article-max-width);
    }

    article h1 {
        margin-block: 2rem;
        border-block-end: 1px solid #000;
        padding-block: 0.25em;
        font-size: 2.25rem;
    }

    article h2 {
        margin-block: 2em 1em;
        border-block-end: 1px solid #000;
        padding-block: 0.25em;
    }

    article > :first-child {
        margin-block-start: 0;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --body-padding: 0;
    }

    article {
        border-inline: none;
    }
}